* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: fit-content;
    background-color: blue;
    color: white;
}


header{
    padding:10px 0px;
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}
header .inner-div{
    display: flex;
    flex-direction: row;
}
.outer-div{
    display:flex;
    flex-direction: column;
    width: 80%;

    align-items: flex-start;
    padding-top:10px;
}

header img{
    margin-right:10px;
}

footer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    min-height: 120px;
}

h1,
h2 {
    text-align: left;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

li{
    margin:10px;
}
p {
    text-align: center;
    font-size: 30px;
  }

  html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; 
}

a{
    font-size:.6rem;
    text-decoration: none;
    padding-top:5px;
    color:gray;
}
a:hover{
    text-decoration: underline;
    color:white;
    transition:0.3s;
}

.card{
    width: 70%;
    margin: 40px auto;
    border: 5px solid blue ;
    box-shadow: 5px 10px #0000eb38 ;
    border-radius:5px ;
    padding:10px 20px 20px;
    position: relative;
    overflow: hidden;
}

.card h2{
    position: relative;
    color:white;
    padding-bottom: 10px;
    margin-bottom:10px;
}

 .card h2::before{
    content:"";
    bottom:0;
    left:-100px;
    right:0;
    height:200px;
    width:150%;
    position:absolute;
    background-color: blue;
    border: 1px solid blue;
    z-index: -1;
}


.subheading{
    padding-bottom:10px;
}

.code-style {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4; 
    color: #333;
    padding: 4px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    overflow-x: auto; 
    white-space: pre-wrap; 
    font-size:16px;
}

.cards-container{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;

}